@import "./today.scss";
@import "./applayout.scss";
@import "./goal.scss";
body {
  font-family: -apple-system, Nexon, sans-serif;
  padding: 10px;
}

@font-face {
  font-family: "Nexon";
  src: url("../../public/fonts/NEXON\ Lv2\ Gothic.ttf") format("truetype");
}
